<?xml version='1.0' encoding='UTF-8'?>
	<!DOCTYPE hibernate-configuration PUBLIC
	        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- SQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Database Connection Settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/operacionesbancarias</property>
		<property name="hibernate.connection.username">be3aapi</property>
		<property name="hibernate.connection.password">be3aapi</property>
		<property name="show_sql">true</property>

		<!-- Specifying Session Context -->
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

		<!-- Mapping With Model Class Containing Annotations -->
		<mapping class="com.orm.entity.CuentasBancarias" />
		<mapping class="com.orm.entity.Historial" />
		<mapping class="com.orm.entity.Operaciones" />
		<mapping class="com.orm.entity.Propietario" />
		
		
	</session-factory>
</hibernate-configuration>
